/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jul-2016, 11:27:09
    Author     : Didin Kha
*/

.ptba-text-red{color: #972928 !important;}
.ptba-red, .ptba-hover-red:hover{background-color: #972928 !important; color: #fff !important;}
.ptba-lightred, .ptba-hover-lightred:hover{background-color: #bc3634 !important; color: #fff !important;}
.ptba-orange, .ptba-hover-orange:hover{background-color: #ce7024 !important; color: #fff !important;}

a{text-decoration: none;}
.w3-third{margin-bottom: 20px}

@media screen and (min-width:993px){.ptba-dock{margin-top: 40px !important; margin-bottom: 40px !important}
