<Files /core/core-login.php>
    order deny,allow
    deny from all
    allow from 127.0.0.1
</Files>
<Files /core/core-logout.php>
    order deny,allow
    deny from all
    allow from 127.0.0.1
</Files>